
@font-face {
  font-family: "NanumGothic";
  src: url(/font/Nanum_Gothic/NanumGothic-Regular.otf);
}
body{ 
    background-color: rgb(0, 0, 0);
    font-size: 20px;
    color: silver;
}
.meuNome{
    font-size: 70px;
    font-weight: 300px;
    line-height: 85px;
    font-family: "NanumGothic";
    color: goldenrod; 
}

.descricao{
    color: silver;
}

h2{
    font-size: 40px;
    font-family: "NanumGothic";
    color: goldenrod;
}

.button{
    color: black;
    background-color: goldenrod;
    padding: 3px 6px;
    border-radius: 12px;
    text-decoration: none;
}

li{
    color: silver;
    font-size: 20px;
}

.Localização{
    color: silver;
}

#foto{
    border-radius: 150px;
}



